@import "~@fortawesome/fontawesome-free/css/all.min.css";
.dark-mode {
    background-color: #121212;
    color: white;
    transition: background 0.3s ease-in-out;
}

.settingsContainer {
    text-align: center;
    padding: 20px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}

.dark-mode .button {
    background-color: #444;
    color: white;
}

.dark-mode .button:hover {
    background-color: #666;
}
